/*Base*/

body {     
  font-family: Georgia, "Times New Roman",
        Times, serif;
  }
  
  p{
      text-align: justify;
  }
  
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {font-size: 30px;}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
#contenido {
  display: block;
  margin: auto;
  width: auto;
  min-height:400px;
}

ul.style-vineta{
    padding: 0;
    margin-top: 23px;
}

ul.style-vineta li{
    background: url(../imgs/vineta.png) no-repeat;
    padding-left: 30px;
    margin-top: 10px;
    list-style: none;
    border-bottom: 1px dotted #CCC;
    /*width: 75%;*/
}

ul.style-vineta li a:hover{
    text-transform: uppercase;
}

#pleca{
    background: url(../imgs/pleca.png) repeat-x top; height: 13px;
    background-color: #770505;
    color: #FFF;
}

.pie{
    background:  url(../imgs/iluminacion.png) no-repeat top, url(../imgs/background-pie.jpg) repeat; margin: 0 auto; width: 100%;; position: relative;
}

.acercadePie{
    color: #CCC;
    font-size: 12px;
}

.lista-pie{
    margin-top: 54px;
    font-size: 12px;
}

ul.lista-pie{
    padding-left: 5px;
}

ul.lista-pie li{
    list-style-type: none;
    background: url(../imgs/arroy_banner_list_pie.png) no-repeat;
    padding-left: 20px;

}

.lista-pie a{
    color: #ff8A8A;
}

.lista-pie a:hover{
    color:#00CCFF;
}

.ornamenta-horizontal{
    background: url(../imgs/division-horizontal-pie.png) no-repeat; height: 110px; width: 2px; z-index: 100; position: absolute; top: 50px; left: 50%;
}

.ornamenta-vertical{
    background: url(../imgs/division-vertical-pie.png) repeat-x bottom; width:80%; margin: 0px auto; height: 2px; 
}

.direccion{
    margin-top: 30px; margin-bottom: 0; width: 100%; text-align: center;
    color:white; background-color: #333333;
    font-size: 12px;
}

.direccion span{
    color:#F85454
}

.emphasis-2{
color:#e05f5f;;
}
/*
.img-decorative{
    /*border: 4px solid #F6F6F6; */
/*    -moz-box-shadow: 0 0 4px #666;    
    margin: 10px 0 70px;
    box-shadow: 0px 5px 5px -3px #333333;
}
*/

.img-decorative-sub{
    border: 4px solid #F6F6F6; 
   -moz-box-shadow: 0 0 4px #666;    
    margin: 10px 0 70px;
    box-shadow: 0px 5px 5px -3px #333333;
}

.form-quick{
    background: url(../imgs/btn-effect-form.jpg) no-repeat top; height: 92px;
    cursor:pointer; cursor: hand;
}

.form-quick:hover{
    background: url(../imgs/btn-effect-form.jpg) no-repeat bottom;
}

/*******************MENÚ OCULTO************************/
.containerMenu-oculto{
    position: relative;
}

div.menu-oculto{
    background: url(../imgs/btnArrow.gif) repeat-x top; height: 22px; width: 28px;
    position: absolute;
    top: 5px;
    right: 25%;
}

div.menu-oculto:hover{
    background-position: -28px -22px
}

div.menu-oculto a{
                    height:22px;                    
                    display:block;                                        
}                  

#menuOculto{
	width:1100px;
	margin:0 auto;
	text-align:center;
	clear:both;
}

#menuOculto ul{
    margin: 5px;;
}

#menuOculto ul li{
                width:155px;
                border-left:#CCC dotted 1px;
                float:right;
                list-style-type: none;
                text-transform: lowercase;
}

#menuOculto ul li+li{
                width:155px;
}

#menuOculto ul li+li+li{
               width:110px;
}

#menuOculto > #accesoAdmin{
    background: #CCC;
    float: left;
}

.form-control-administracion{
    height: 24px;
    margin: 0;
}

/*******************NUBE DE ETIQUETAS******************/
.cloud_tags{
    margin-bottom: 20px;
}

.formsRapidos{
    padding: 30px 20px 20px 20px;
border-radius: 10px;
background-color: #FFFBFA;
border: #FADEDF solid 1px;
}

.formsRapidos-leads-genration{
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
}

.container-imgs-frases{
    margin-top: 50px;
}

/************CONTACTO***************/
h1.icon-contact{
    background: url(../imgs/contacto-icon.png) no-repeat left; padding-left: 73px;
}

.gmap-popup {
 max-width:204px;
 max-height:110px;
}

/**************GENERACION DE LEADS******************/
h1.principal-leads{ padding: 10px 0  0 550px;}

div.img-leads-generation{ background: url(../imgs/generacion-de-leads.jpg) no-repeat;}

div.email-marketing > p { background: url(../imgs/leads-email-marketing.jpg) no-repeat left; padding-left: 55px;}
div.publicidad-display > p{ background: url(../imgs/publicidad-display.jpg) no-repeat left; padding-left: 56px;}
div.acciones-en-social-media > p{ background: url(../imgs/acciones-en-social-media.jpg) no-repeat left; padding-left: 56px;}

div.envio-de-publicidad-por-correo-tradicional > p { background: url( ../imgs/envio-de-publicidad-por-correo-tradicional.jpg) no-repeat right; padding-right: 68px;}
div.campañas-de-street-marketing > p { background: url(../imgs/campañas-de-street-marketing.jpg) no-repeat right; padding-right: 76px;}
div.campañas-de-street-marketing > span { background-color :#666666; border-radius: 3px; color:#FFF; height: 32px; float: left; margin-right: 10px; padding: 6px; }
div.form-leads-generation { padding-top: 200px;}
div.form-leads-generation > h1 { color:#CC0000; font-size: 32px; text-align: center; }
div.form-leads-generation > h1 span{ font-size: 26px;}
h3.subtitulo-leads-generation{ text-align: center; margin-top: 120px;}

/***********************TELEMARKETING *****************************/
div.container-left-telemarketing { padding-top: 163px;}
div.container-left-telemarketing h1{ color: #990000; text-align: left; }
div.container-left-telemarketing h2{ border-bottom: 1px dashed #990000; border-top: 1px dashed #990000; padding: 10px 0; }
div.container-left-telemarketing ul{ margin:40px 0px 60px 0px;}

/*.telemarketing-fondo{ background: url(../imgs/equipo-telemarketing.jpg) no-repeat; padding-right: 10px; width: 100%; background-size:99%;}
ul.telemarketing-aprobacion{  list-style-image: url(../imgs/equipo-telemarketing-aprobado.jpg);}
ul.telemarketing-aprobacion li{ line-height: 1.8em;}*/

div.separador-de-bloques{ margin-top: 20px;}
div.separador-de-bloques p.a { background: url(../imgs/telemarketing-campana-de-ventas.png) no-repeat; padding-left: 135px;}
div.separador-de-bloques p.b { background: url(../imgs/telemarketing-informacion-y-postventa.png) no-repeat; padding-left: 135px;}
div.separador-de-bloques p.c { background: url(../imgs/telemarketing-apoyo-a-fuerza-de-venta.png) no-repeat; padding-left: 135px;}
div.separador-de-bloques p.d { background: url(../imgs/telemarketing-venta-cruzada-de-productos.png) no-repeat; padding-left: 135px; height: 50px;}

/*********************REMAINDER*********************************/
h3.remainder_arroy_banner_list { background: url(../imgs/arroy_banner_list.png) no-repeat left; padding-left: 35px;  }

/*******************EXPERIENCIA DEL CLIENTE *********************/
.call-to-action{ color: #CC0000; text-align: center; font-size: 40px;}
.call-to-action span{font-size: 20px;}
.testimonial{ border-top: 1px dotted #CC0000; margin-top: 40px; border-bottom: 1px dotted #CC0000; padding: 10px 20px 20px 20px; }

/******************ESTUDIOS DE MERCADO***********************/
.listas-enlaces-secundarios{
    margin-top: 300px;
}

.bloque-estudios-de-mercado{
    position: absolute;    
    margin-left: 38%;
}

.bloque-estudios-de-mercado p{
    position: absolute;
    width: 400px;   
    text-align: justify;
    top: 90px;
}
    
    
.bloques-clientes{
    text-align: center;
}

/*************REDES*******************/

.icons-redes{
    float: right; width: 210px;  margin: 50px 50px 0px;
}

a.icon-google,
a.icon-youtube,
a.icon-face,
a.icon-twitter,
a.icon-linkedin{ background: url(../imgs/redes.png) no-repeat bottom; display: block; width: 30px; height: 34px; float:left; margin-right: 15px;}

a.icon-google{background-position:0px -31px; }
a.icon-youtube{ background-position:-45px -31px;}
a.icon-face{background-position:-90px -31px;}
a.icon-twitter{background-position:-135px -31px;}
a.icon-linkedin{background-position:-180px -31px; margin-right: 0px;}

a.icon-google:hover{background-position:0px 0px; }
a.icon-youtube:hover{background-position:-45px 0px; }
a.icon-face:hover{background-position:-90px 0px; }
a.icon-twitter:hover{background-position:-135px 0px; }
a.icon-linkedin:hover{background-position:-180px 0px; }
/********************************************   

In the words of Bootstrap author Mark Otto..
"Submenus just don't have much of a place on the web right now, especially the mobile web. They will be removed with 3.0" 

********************************************/

/*************** TOP HEADER ********************/
.top-header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #FFF;
    margin-top: -100px;
}

.navbar{
   /* margin-bottom: 50px;    */
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #f5f5f5;
  color: #000;
}

.dropdown-submenu > .dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px 6px;
border-radius: 0 6px 6px 6px;
}

.navbar .nav > li > .dropdown-menu:before {
position: absolute;
top: -7px;
left: 9px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-left: 7px solid transparent;
border-bottom-color: rgba(0, 0, 0, 0.2);
content: '';
}

.navbar .nav > li > .dropdown-menu:after {
position: absolute;
top: -6px;
left: 10px;
display: inline-block;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
border-left: 6px solid transparent;
content: '';
}

.navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.navbar .nav > li > a + span {
   position:absolute;
   top: 27px;
   font-size: 10px;
   width: 100%;
   text-align: center;
   color: #B7ABAB;
}

/*Para centrar el menú*/

.navbar-nav {
width: 100%;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
width: 1100px;
margin: 0 auto;
z-index: 1000;
}

.navbar-nav>li {
width: 14.1%;
border-right: #F28888 1px solid;
}

.navbar-nav>li+li+li+li+li+li+li {
border-right: none;    
}
@media (min-width:1100px){
    ul li.pagina-no-visible{
        display: block;
    }
    div.container-banner div.carousel{
       display: none;
    }
    h2.header-form-adaptative, h1.header-atencion-al-cliente{
        display:none;        
    }
    div.texto-dispositivos-estudios-de-mercado{
        display: none;
    }
    div.caracteristicas-capacitacion-y-mejora-continua-visible{
        display: none;
    }
    
}

@media (max-width:1100px){    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;        
    }
    
    div.container-banner div.carousel{
       display: none;
    }
    
    div.nube-etiquetas-no-visible{
        display: none;
    }
    
    img.img-form-rapido{
        display: none;
    }
    h2.header-form-adaptative,  h1.header-atencion-al-cliente{
        display:bock;
        text-align: center;
        color: #CC0000;
    }
    h1.header-atencion-al-cliente-2{
        display: none;
    }
    div.seccion-clientes{
        height: auto;
    }
    div.bloque-estudios-de-mercado{
        display: none;
    }
  
    .bloque-estudios-de-mercado p{                
        position: initial;
        height: 200px;
    }
    img.img-estudios-de-mercado{
        display: none;
    }
    div.listas-enlaces-secundarios{       
        margin-top: 0;
    }
    div.bloque-no-visible-con-medias{
        display: none;
    }
    div.img-para-dispositivos{
        margin-top: 50px;
    }
    div.caracteristicas-capacitacion-y-mejora-continua{
        display: none;
    }    
    div.caracteristicas-capacitacion-y-mejora-continua-visible{
        display: block;
    }
    div.capacitacion{
        margin-top: 50px;
    }
}

@media (max-width:839px){        
    ul.hide-device{
        display:none;
    }
    
    div.grupo-impsa a{
        float:none;
        display: none;
    }
    
    div.ornamenta-horizontal{
        display:none;
    }
    div.menu-oculto{
        display: none;
    }
    
    ul li.pagina-no-visible{
        display: none;
    }
    div.fluid_container{
        display: none;
    }
    
    div.display-screen-description{
        display: none;
    }
    
    div.telemarketing-fondo{
        background: none;
    }
    
    div.separador-de-bloques p.a, div.separador-de-bloques p.b, div.separador-de-bloques p.c, div.separador-de-bloques p.d {
        background: none;
        padding-left: 0;
     }     
     div.container-left-telemarketing {
         padding-top: 10px;
     }
     div.container-left-telemarketing h2{
         border: none;     
         text-align: left
     }
     div.separador-de-bloques{
         margin: 15px 0;      
         text-align: justify
     }
     div.separador-de-bloques h2{
         text-align: left;
     }
    
    div.container-banner div.carousel{
        display:block;
    }
    div.background-banner{
        display:none;
    }
}

@media (max-width:766px){
    a.navbar-branding{
    display: block;
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 20%;
    }
    a:hover.navbar-branding {
    font-weight: bold;
    text-decoration: none;
    }
    .navbar-nav>li {
        width: 100%;
        border: none;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #FFF;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color:#FFF;
    }        
    
    div.secciones-tecnologia{
        width: 100%;
    } 
} 
    
.navbar-default .navbar-nav>li>a {
text-align: center;
color: #fff;
padding-top: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: bold;
    color: #FFF;    
}

.navbar-default {
    background-color:#770505;    
    border: 2px #C67369 solid;
}

.navbar-branding{
    display: none;
}


/**************LOGO**************/
.logo{ background:url(../imgs/logo.png) no-repeat; display: block; width: 220px; margin: 10px auto;}
.logo a{ display: block; height: 79px;}

/*************FEDD******************/
.feed{    
    font-size: 15px;   
    margin: 10px 20px;  
}

.feed a{
    color:#DFDFDF;    
}
.feed a:hover{    
    color:#00CCFF;
}

.marquee {
  width: 100%;
  overflow: hidden;   
  height: 24px;
  margin: 0;
}

/*************ATENCION A CLIENTES*************/
.seccion-clientes{
    height: 600px;
    padding-top: 20px;
}
/************COBRANZ¨**************************/

.cobranza-preventiva{
    padding-left: 25px;
    background: url(../imgs/icono-cobranza-preventiva.jpg) no-repeat left; 
}
.cobranza-administracion{
    padding-left: 25px;
    background: url(../imgs/icono-cobranza-adminitracion.jpg) no-repeat left; 
}

.cobranza-extrajudicial{
    padding-left: 25px;
    background: url(../imgs/icono-cobranza-extrajudicial.jpg) no-repeat left;
}

.cobranza-prelegal{
    padding-left: 25px;
    background: url(../imgs/icono-cobranza-prelegal.jpg) no-repeat left;    
}

.cobranza-legal{
    padding-left: 25px;
    background: url(../imgs/icono-cobranza-legal.jpg) no-repeat left;    
}

/***********BANNER**************/
.camera_effected li { background:url(../imgs/arroy_banner_list.png) no-repeat; padding-left: 30px; margin-top: 5px; style-type:none;list-style-type: none;}

.background-banner{ background:url(../imgs/background-banner.png) repeat-x; height: 392px; position: absolute; top: 200px;  width: 100%;  z-index: -1;} 
div.camera_effected { font-family: Helvetica; position:absolute; left: 50%; top :40px; margin-bottom: 30px; }
div.camera_effected  h1{ margin: 0px 0 40px 25px; }
div.camera_effected h1+ul li { background:url(../imgs/arroy_banner_list.png) no-repeat; padding-left: 30px; margin-top: 5px;}

/**************CARACTERISTICAS CAPACITACION********************/
.capacitacion{margin-top: 390px; left: -20px}

.caracteristicas-capacitacion-y-mejora-continua{ background: url(../imgs/caracteristicas-capacitacion-y-mejora-continua.png) no-repeat; width:326px; height: 179px; position: absolute; top: 100px; left:150px; }
.caracteristicas-capacitacion-y-mejora-continua div{ width: 280px; left: -210px; position: absolute}
.caracteristicas-capacitacion-y-mejora-continua div + div{ left: -130px; top: 170px;}
.caracteristicas-capacitacion-y-mejora-continua div + div + div{ left: 267px; top: 0;}
.caracteristicas-capacitacion-y-mejora-continua div + div + div h4{ text-align: center;}

/*****Estilos CAMERA **********/

 body {
                        margin: 0;
                        padding: 0;
                }
                a {
                        color: #09f;
                }
                a:hover {
                        text-decoration: none;
                }
                #back_to_camera {
                        clear: both;
                        display: block;
                        height: 80px;
                        line-height: 40px;
                        padding: 20px;
                }
                .fluid_container {
                        margin: 0 auto;
                        max-width: 1000px;
                        width: 90%;
                }

.container-banner{
    width: 100%;
    margin-top: 60px;
}

/*****************GALERIA******************/
h1.galery{ position: absolute;
top: 50px;
right: 240px;}

.containerGalery{ margin: 0 auto; width: 1100px; position: relative; padding:880px 33px 0 34px; }
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17, .p18, .p19, .p20, .p21, .p22, .p23, .p24, .p25, .p26, .p27, .p28, .p29, .p30, .p31, .p32, .p33, .p34, .p35{ width: 96px; height: 96px; display: block; float: left; margin-right:5px; position: absolute}

.p1{ background: url(../imgs/frases-uno-a.jpg) no-repeat; width: 200px; height: 200px; top: 20px; left: 208px }
.p2{ background: url(../imgs/frases-uno-b.jpg) no-repeat;  width: 96px; height: 96px;  top: 124px; left: 416px;}
.p3{ background: url(../imgs/frases-uno-c.jpg) no-repeat; top: 124px; left: 520px; }
.p4{ background: url(../imgs/frases-uno-e-2.jpg) no-repeat; top: 124px; left: 624px;}
.p5{ background: url(../imgs/frases-uno-h.jpg) no-repeat;  width: 200px; height: 96px; top: 124px; left: 728px;}

.p6{ background: url(../imgs/frases-uno-d-2.jpg) no-repeat; top: 228px; left: 104px;}
.p7{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height: 96px; top: 228px; left:208px;}
.p8{background: url(../imgs/frases-uno-b.jpg) no-repeat; top: 228px; left: 416px;}
.p9{ background: url(../imgs/frases-uno-g.jpg) no-repeat; width: 200px; height: 200px; top: 228px;  left: 520px;}
.p10{ background: url(../imgs/frases-uno-a-2.jpg) no-repeat; top: 228px; left: 728px;}
.p11{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height: 96px; top: 228px; left: 832px;}

.p12{ background: url(../imgs/frases-uno-e-2.jpg) no-repeat; top: 332px; left: 104px;}
.p13{ background: url(../imgs/frases-uno-a-2.jpg) no-repeat; top: 332px; left: 208px;}
.p14{ background: url(../imgs/frases-uno-d.jpg) no-repeat; width: 200px; height: 200px; top: 332px; left:312px;}
.p15{ background: url(../imgs/frases-uno-b.jpg) no-repeat; top: 332px; left: 728px;  }
.p16{ background: url(../imgs/frases-uno-f-2.jpg) no-repeat;  top: 332px; left:832px;  }
.p17{ background: url(../imgs/frases-uno-i.jpg) no-repeat; width: 96px; height: 200px; top: 332px; left: 936px;}

.p18{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height: 96px; top: 436px; left: 0;}
.p19{ background: url(../imgs/frases-uno-f-2.jpg) no-repeat; top: 436px; left: 208px;  }
.p20{ background: url(../imgs/frases-uno-a-2.jpg) no-repeat; top: 436px; left: 520px;}
.p21{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height:96px; top:436px;  left: 624px;}
.p22{ background: url(../imgs/frases-uno-b.jpg) no-repeat; top: 436px; left: 832px; }

.p23{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height: 96px; top:540px; left:104px;}
.p24{ background: url(../imgs/frases-uno-f-2.jpg) no-repeat; top: 540px; left: 312px;}
.p25{ background: url(../imgs/frases-uno-a-2.jpg) no-repeat; top:540px; left: 416px; }
.p26{ background: url(../imgs/frases-uno-i.jpg) no-repeat; width: 96px; height: 200px; top: 540px; left: 520px;}
.p27{ background: url(../imgs/frases-uno-e.jpg) no-repeat; width: 200px; height: 200px; top: 540px; left: 624px; }
.p28{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width:200px; height: 96px; top: 540px; left: 832px;}

.p29{ background: url(../imgs/frases-uno-f-2.jpg) no-repeat; top: 644px; left:208px;}
.p30{ background: url(../imgs/frases-uno-b.jpg) no-repeat; top: 644px; left: 312px;}
.p31{ background: url(../imgs/frases-uno-e-2.jpg) no-repeat; top: 644px; left: 416px;}
.p32{ background: url(../imgs/frases-uno-d-2.jpg) no-repeat; top:644px; left: 832px;}

.p33{ background: url(../imgs/frases-uno-h.jpg) no-repeat; width: 200px; height: 96px; top: 748px; left:416px;}
.p34{ background: url(../imgs/frases-uno-c.jpg) no-repeat; top:748px; left: 624px;}
.p35{ background: url(../imgs/frases-uno-a-2.jpg) no-repeat; top:748px; left: 728px;}

.view-first {
    overflow: hidden;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(219,127,8, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   height: 100%;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.view-first img {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-first:hover img {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}



/********************** TECNOLOGIA **********************************/

.secciones-tecnologia{ 
    background-color: #EDEDED;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border:1px solid #e5e5e5;
    border-radius:16px;
    background:-moz-linear-gradient(top,#fff 0%,#fafafa 100%);
    background:-o-linear-gradient(top,#fff 0%,#fafafa 100%);
    background:-webkit-linear-gradient(top,#fff 0%,#fafafa 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff 0%),color-stop(1,#fafafa 100%));
    height: 370px;
    width: 29.33333%;
    margin: 11px;    
}

.secciones-tecnologia:hover{
    background:-moz-linear-gradient(top,#fff 0%,#F2F8FF 100%);
    background:-o-linear-gradient(top,#fff 0%,#F2F8FF 100%);
    background:-webkit-linear-gradient(top,#fff 0%,#F2F8FF 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff 0%),color-stop(1,#F2F8FF 100%));        
    cursor:pointer; cursor: hand;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

div.secciones-tecnologia h3{ text-align: center}

div.secciones-tecnologia button{
    display: none;
    position: absolute;
    top: 230px;
    left: 30%;
}

div.secciones-tecnologia button a{
    color: #FFF;
}


.logo-inconcert,
.icono-acd,
.icono-ivr,
.icono-marcador-predictivo,
.icono-monitoreo-de-llamadas,
.icono-grabacion-bajo-demanda,
.icono-cti,
.icono-reportes,
.icono-sms { background: url(../imgs/tecnology-icons.png) no-repeat; display: block;  margin: 15px auto; }

.logo-inconcert{  background-position-x: 0px; background-position-y: -20px; width: 154px; height: 121px; margin: 38px auto;}
.icono-acd{  background-position-x: -185px; background-position-y: -22px;  width: 112px; height: 113px; margin: 39px auto;}
.icono-ivr{  background-position-x: -340px; background-position-y: -41px;  width: 84px; height: 84px; margin: 54px auto;}
.icono-marcador-predictivo{  background-position-x: -16px; background-position-y: -175px;  width: 121px; height: 119px; margin: 50px auto;}
.icono-monitoreo-de-llamadas{  background-position-x: -182px; background-position-y: -195px;  width: 102px; height: 85px; margin: 54px auto;}
.icono-grabacion-bajo-demanda{  background-position-x: -340px; background-position-y: -185px;  width: 88px; height: 95px; margin: 49px auto; }
.icono-cti{  background-position-x: -3px; background-position-y: -336px;  width: 145px; height: 109px; margin: 50px auto;}
.icono-reportes{  background-position-x: -185px; background-position-y: -337px;  width: 89px; height: 96px; margin: 69px auto;}
.icono-sms{  background-position-x: -352px; background-position-y: -337px;  width: 75px; height: 96px; margin: 69px auto;}

/***************************FORMULARIOS***********************/

.barNav-tecnology{ background-color:  #A11B1B; color: #FFF;  -moz-border-radius:3px; border-radius: 10px 0; padding: 3px 25px; /*width: 77%;*/}
.showFormQuitly { margin-top: 30px;}
ul.style-vineta li a{ color: #333333}

/*************************ANCHOS  IMAGENES***************************/
.container-ancho-bloques-right{ width: 65%; float: right; }
.container-ancho-bloques-left-{ width: 65%; float: left;}

.container-ancho-imagen-left, .container-ancho-imagen-right{
    width: 35%; float: left;}

.container-ancho-imagen-right{
float: right;}

/***************** SECCIÓN TECNOLOGÍA ************************/
.alineacion{ padding-right: 40px;}
.alineacion2{ margin-top: 50px;} 
.encabezado-tecnologias{ margin-top: 50px;}
.encabezado-tecnologias-subtitulo{ margin-top: 25px;}

h1.titular_form_rapidos{
    text-align: center;
    color: red;
    font-size: 2.3em;
    margin-top: 0;
}

.obligatorio{ color: red;}
.mensaje-obligatorio { color: #666; font-size: 11px;}

/*******Exito************/
.cabecera-exito{
    text-align: center;
    color: red;
}

.sub-exito{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

/********** ULTIMOS ************/

.grupo-impsa a{
    display: block;
    float: left;
    margin-top: 14px;
}

.grupo-impsa a.gimpsa{
    background: url(../imgs/gimpsa.png) no-repeat top; width:78px; height: 37px; margin-right: 25px;
}

.grupo-impsa a.unoPie{
    background: url(../imgs/logoPie.png) no-repeat top; width:60px; height: 26px; margin-right: 25px; margin-top: 13px
}
 .grupo-impsa a.unoPie:hover{
    background: url(../imgs/logoPie.png) no-repeat bottom;
}

.grupo-impsa a.electrical{
    background: url(../imgs/electrical.png) no-repeat top; width:80px; height: 28px; margin-right: 25px;
}

.grupo-impsa a.electrical:hover{
    background: url(../imgs/electrical.png) no-repeat bottom;
}

.grupo-impsa > a+a+a{
    background: url(../imgs/prendal.png) no-repeat top; width:80px; height: 25px; margin-right: 25px;
}

.grupo-impsa > a+a+a:hover{
    background: url(../imgs/prendal.png) no-repeat bottom;
}

.grupo-impsa a.credipyme{
    background: url(../imgs/credipyme.png) no-repeat top; width:86px; height: 31px; margin-right: 25px; 
}

.grupo-impsa a.credipyme:hover{
    background: url(../imgs/credipyme.png) no-repeat bottom;
}

.grupo-impsa a.stadium{
    background: url(../imgs/stadium.png) no-repeat top; width:79px; height: 25px;
}

.grupo-impsa a.stadium:hover{
    background: url(../imgs/stadium.png) no-repeat bottom;
}


.fadeIn {
    font-size: 16px;
}

.fadeIn > h1{
    font-size: 35px;
    margin-top: 5px;
}

/*************TEMAS DE INTERÉS*******************/

.topics{ 
margin: 20px 0 25px 0;
border-bottom: 1px dashed #CCCCCC;
float: left;
padding-bottom: 25px;
width: 90%;
} 

div.contentImg-topics{
    padding: 4px;
background-color: #f8f8f8;
border-color: #e8e8e8;
float: left;
margin: 0 30px 0 0;
}

div.imgTopics{
background: url(http://www.gimpsaelectrical.com/css/../img/img-no-disponible.jpg) no-repeat center center;
width: 85px;
height: 85px;
}

div.contentText-topics{
float: left;
width: 71.77%;
}

div.contentText-topics h3{
margin: 0 0 10px;
}

div.contentText-topics p{
    text-align: justify;
    margin-bottom: 20px;
}

div.contentText-topics span{
    font-style: italic;
    color: #d3d3d3;
    font-size: 12px
}

span.maia-button{
background-image: -webkit-linear-gradient(top,#f9f9f9,#f5f5f5);
border: 1px solid #e5e5e5;
padding: 6px 11px;
text-shadow: 0 1px 0 #F6F6F6;
-webkit-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
font-family: arial,sans-serif;
font-weight: bold;
float: right
}

span.maia-button a{
    color:#09f;
    font-style:normal;
}