body {
    font-family: Arial,Helvetica,sans-serif;        
}

h1 {
    color: #696969;
    font-family: Helvetica,arial,sans-serif;
    font-size: 30px;
    font-weight: normal;
    padding: 30px 0 10px 0;
    /*margin: 0 30px 0 30px;*/
}

a {
    text-decoration: none;
    outline: none;
}

h2 {
    color: #696969;
    font-family: Helvetica,arial,sans-serif;
    font-size: 22px;
    font-weight: normal;
    padding: 10px 0 10px 0;
    /*margin: 0 30px 0 30px;*/
}

.codebox {
    padding: 10px 0 10px 0;
    margin: 0 30px 0 30px;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}
/*
p {
    color: #696969;
    font-family: Helvetica,arial,sans-serif;
    padding: 10px 0 10px 0;
    margin: 0 30px 0 30px;
}
*/

div.main-block {
    position: relative;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 800px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

div.display-screen-description {
    width: 100%;
    height: 256px;
    margin: 20px auto 20px auto;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 11px -6px rgba(48, 50, 50, 1);
    -moz-box-shadow:    0px 10px 11px -6px rgba(48, 50, 50, 1);
    box-shadow:         0px 10px 11px -6px rgba(48, 50, 50, 1);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

div.displayBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*33.54%;*/
    height: 256px;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
}

div.fragment {
    position: absolute;
    width: 400px;
    height: 22px;
    color: #9B9B9B;
    font-size: 22px;
    line-height: 22px;
    font-family: Helvetica,arial,sans-serif;
    font-weight: normal;
}

#a {
    top: 30px;
    left: 30px;
}

#b {
    top: 60px;
    left: 30px;
}

#c {
    top: 90px;
    left: 30px;
}

#d {
    top: 188px;
    left: 30px;
}

#e {
    top: 218px;
    left: 30px;
}

#f {
    top: 248px;
    left: 30px;
}

#g {
    top: 30px;
    left: 30px;
}

#h {
    top: 60px;
    left: 30px;
}

#i {
    top: 90px;
    left: 30px;
}

#j {
    top: 188px;
    left: 30px;
}

#k {
    top: 218px;
    left: 30px;
}

#l {
    top: 248px;
    left: 30px;
}

.a1{color:#f2b244;cursor:pointer;}
.b1{color:#254470;cursor:pointer}
.c1{color:#f96122;cursor:pointer}
.d1{color: #a2adbf;cursor:pointer}
.e1{color:#45628e;cursor:pointer}
.f1{color:#a2adbf;cursor:pointer}
.g1{color:#f96122;cursor:pointer}
.h1{color:#f2b244; font-size: 24px;cursor:pointer}
.j1{color:#c50103;cursor:pointer}
.k1{color:#45628e;cursor:pointer}
.l1{color:#f2b244;cursor:pointer}



.bottom-space {
    height: 30px;
    width: 800px;
}

pre {
    padding: 0 0 0 0;
    margin: 0 30px 0 30px;
    font-size: 12px;
}

.highlight .hll { /*background-color: #ffffcc*/ }
.highlight  { /*background: #f8f8f8;*/ }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */


.imagen-atencion-al-cliente{
    background: url(../imgs/atencion-al-cliente.jpg) no-repeat; width:33.54%; height: 256px;
    max-width: 100%;
    float: right
}